{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h2>Welcome to MooTube!</h2>
        <h3>As a cattle, you will find *tons* of free video for everyone ;)</h3>
        <div><a class="btn btn-explore btn-lg" href="{{ path('homepage') }}">Explore the content</a></div>
    </div>
{% endblock %}
