{% extends 'base.html.twig' %}

{% block content %}
    <div class="video-content-container">
        <div class="filter-container">
            <h3 class="filter-header">Filter by Tag</h3>
            <hr>
            <ul class="filter-list unstyled-list">
                <li>
                    <input type="checkbox" id="cardio_check" class="check-box">
                    <label for="cardio_check" name="filter_checkbox"><span>Cardio</span></label>
                </li>
                <li>
                    <input type="checkbox" id="strength_check" class="check-box">
                    <label for="strength_check" name="filter_checkbox"><span>Strength</span></label>
                </li>
                <li>
                    <input type="checkbox" id="speed_check" class="check-box">
                    <label for="speed_check" name="filter_checkbox"><span>Speed</span></label>
                </li>
                <li>
                    <input type="checkbox" id="flexibility_check" class="check-box">
                    <label for="flexibility_check" name="filter_checkbox"><span>Flexibility</span></label>
                </li>
                <li>
                    <input type="checkbox" id="milkproduction_check" class="check-box">
                    <label for="milkproduction_check" name="filter_checkbox"><span>Milk Production</span></label>
                </li>
                <li>
                    <input type="checkbox" id="diet_check" class="check-box">
                    <label for="diet_check" name="filter_checkbox"><span>Diet</span></label>
                </li>
            </ul>
        </div>
        <div class="video-box">
            <h3 class="video-box-header">Over 20,000 Bovine Fitness Routines</h3>
            <a href="#">
                <div class="video-container">
                    <img class="video-image" src="images/cowbell.png"/>
                    <div class="video-title"><i class="fa fa-play-circle-o"></i> Calf Stretches</div>
                </div>
            </a>
            <a href="#">
                <div class="video-container">
                    <img class="video-image" src="images/dandelion.png"/>
                    <div class="video-title"><i class="fa fa-play-circle-o"></i> 3 Best Dandelion Recipes</div>
                </div>
            </a>
            <a href="#">
                <div class="video-container">
                    <img class="video-image" src="images/bovine1.png"/>
                    <div class="video-title"><i class="fa fa-play-circle-o"></i> Beef Tender Loins</div>
                </div>
            </a>
            <a href="#">
                <div class="video-container">
                    <img class="video-image" src="images/bovine2.png"/>
                    <div class="video-title"><i class="fa fa-play-circle-o"></i> Moooove it yoga</div>
                </div>
            </a>
            <a href="#">
                <div class="video-container">
                    <img class="video-image" src="images/milkjug.png"/>
                    <div class="video-title"><i class="fa fa-play-circle-o"></i> Milking it: 5 minute workout</div>
                </div>
            </a>
            <a href="#">
                <div class="video-container">
                    <img class="video-image" src="images/more.png"/>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
